.App {
  background-color: #f6ae2d;
}

/* text-align: center; */

.create-button {
  text-align: center;
  justify-content: center;
}

.title {
  color: #34623F;
  text-align: center;
  font-family: "monospace";
  font-size: 78px
}

/* Change Sjardin logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Welcome message P-tag */
.slogan {
  color: black;
  text-align: center;
  font-style: italic;
  font-size: 24px;
}

/* changes searchbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* font style, spacing, color, button elements */
.searchBar{
  background-color: #F97068;
  align-items: center;
  width:200px;
  padding:20px;
  align-items: left;
}

.createPost {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  opacity: 1;
  max-width: 640px;
  background-color: #34623F;
}

.popup-inner .close-btn {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.projectPost {
  background-color: #D9CABC;
  min-height: 30vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-style: solid;
  margin: 10px;
  padding: 10px;
  border-radius: 25%;
}

.projectBoard {
  display: flex;
  margin: 30px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}