.App {
  background-color: #FFFDF7;
}

/* text-align: center; */

.createButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 30px 0;
}

#create-button {
  text-align: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

} 

.title {
  color: #34623F;
  text-align: center;
  font-family: helevetica;
  font-size: 78px
}

/* Change Sjardin logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Welcome message P-tag */
.slogan {
  color: black;
  text-align: center;
  font-family: helvetica;
  font-size: 24px;
  background-color: #F6AE2D;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
}

.close-btn {
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* changes searchbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* font style, spacing, color, button elements */
.searchBar{
  background-color: #F6AE2D;
  align-items: center;
  width:600px;
  align-items: left;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
}

.searchButton {
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#reset {
  margin-left: 20px;
}




.categoriesBar {
  font-family: helvetica;

}

.createPost {
  background-color: #34623F;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
}

/* .popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  opacity: 1;
  max-width: 640px;
  background-color: #F6AE2D;
}

.popup-inner .close-btn {
  position: absolute;
  bottom: 16px;
  right: 16px;
} */

.projectPost {
  background-color: #F6AE2D;
  min-height: 30vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #000;
  border-style: solid;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  margin: 10px;
  padding: 0.25em 0.5em;
  font-family: helvetica;
}

/* .projectType {
  color: #6E4555;
  font-family: 
} */



/* 
background-color: #F6AE2D;
  min-height: 30vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
  border-style: solid;
  margin: 10px;
  padding: 0.25em 0.5em;
  border-radius: 25%;
  font-family: helvetica;
*/


/* .projectType 

.projectGoal

.projectTools

.userName */

.projectBoard {
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  display: flex;
  margin: 30px;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #6B9080;
}

.popup-inner {
  position: relative;
  padding: 20px 50px 50px 50px;
  width: 100%;
  opacity: 1;
  max-width: 640px;
  background-color: #F6AE2D;
  border: 3px solid;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

.projectContent {
  font-size: 20px;
  margin: 0 0 20px 0;
}

.popup-inner .submitButton {
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: absolute;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  bottom: 16px;
}


.popup-inner .close-btn {
  position: absolute;
  bottom: 16px;
  right: 16px;
}


/*

<!-- HTML !-->
<button class="button-54" role="button">Button 54</button>


.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

*/