/* .App {
  text-align: center;
  background-color: #344E41;
}
 */

.title {
  color: #34623F;
  text-align: center;
  font-family: "monospace";
  font-size: 78px
}

.slogan {
  color: black;
  text-align: center;
  font-style: italic;
  font-size: 24px;
}

.searchBar{
  background-color: #34623F;
  align-items: center;
  padding: 20px;
}

.createPost {
  justify-content: left;
  background-color: #34623F;
  align-items: left;
  padding: 10px;
}

.projectPost {
  background-color: #D9CABC;
  min-height: 30vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-style: solid;
  margin: 10px;
  padding: 10px;
  border-radius: 25%;
}

.projectBoard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}